body{
    background-color: aliceblue;
    margin: 0;
    
}
html{
    scroll-behavior: smooth;
}
#fundo {        /*Foto de fundo, depois mudar pra colocar o carrossel*/
    background: linear-gradient(rgba(0,0,0,0.4), rgb(0, 0, 0)), url('ImagensTeste/TesteImagemFundo 2.jpg') top center/cover no-repeat;
    height: 65vh;
    text-align: center;
    padding-top: 30vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large; /*Depois quem quiser muda o tamanho aqui da fonte*/
}
#fundo h1{
    color: #ffffff;
}
#fundo p{
    color: #Ffd500;
}



header {
    margin: 0;
    display: flex;
     align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 213, 0); 
}
header nav {
    padding: 20px;
}

header li {
    display: flex;
      color: #Ffd500;
}
header a{
    text-decoration: none;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    
}
header a:hover{
    transition: 0.2s;
    color: #ffffff;
}
header ul{
  
    gap: 50px;
    display: flex;
    justify-content: space-between;
}
header img {
    
    height: auto;
    width: auto;
    max-height: 70px; 
    margin-left: 10px;
    
}

#sobre {
    max-width: 600px;        
    margin: 0 auto;          
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    padding: 20px;
    text-align: center;
}



#equipe {

    text-align: center;
}
#equipe p{
    max-width: 600px;        
    margin: 0 auto;          
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    padding: 20px;
    text-align: center;
}
#equipe > figure{
    display: inline-block;
    
}
#equipe img {
    width: 100px;
    height: 100px; 
    border-radius: 50%; /*Para fazer as fotos do pessoal da equipe ficar Circular*/
    object-fit: cover; /*isso garante que as nossas fotos fiquem redondas sem distorcer e parecer oval*/
    transition: transform 0.3s ease; 
}
#equipe img:hover {
    transform: scale(1.2); /*aumenta quando passamos o mouse */
    transition: 0.2s;
}


#projetos {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center; 
}
#projetos figure {
    display: inline-block;    
    text-align: center;    
}
#projetos img {
    width: 300px;      
    height: 200px;     
    object-fit: cover;  /*deixa todas as imagens que a gente colocar do projeto do memso tamanho, evitando que fique estourada */
    
}







footer{
    background-color: #Ffd500;
    text-align: center;
    padding: 10px;
    font-family: 'Inter', sans-serif;
}
